.headerText {
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  .text {
    display: flex;
    align-items: center;
  }
  .subText {
    font-size: 14px;
    color: #aaa;
  }
  .prefixUnit {
    margin-right: 2px;
  }
}

.infoBox {
  padding: 20px 0 25px 0;
  font-size: 14px;
  .subText {
    color: #aaa;
    padding-right: 6px;
    flex-shrink: 0;
  }
  .groupRight {
    text-align: right;
  }
  .alone {
    display: flex;
    align-items: center;
    .labelText {
      color: #fa3534;
    }
    .address {
      flex: 1;
      padding-right: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
    }
  }
  .aloneBtn {
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #ecf5ff;
    color: #2b85e4;
    border-radius: 6px;
  }
}
